#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.portfolio-item {
  padding: 1em;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}
