:root {
  background-color: light-dark(yellow, #000088);
  color: light-dark(black, #ffffaa);
  color-scheme: light dark;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

button {
  animation: spin 3s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
